<mat-toolbar>
  <p>Toolbar warum auch immer</p>
</mat-toolbar>

<div class="container">
  <div class="table-container">
    <table mat-table [dataSource]="companies" class="table" matSort matSortActive="created"
      matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">


      <ng-container matColumnDef="wkn">
        <th mat-header-cell *matHeaderCellDef>WKN</th>
        <td mat-cell *matCellDef="let row">{{ row.wkn }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Anzahl</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef>Durchschnittspreis</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Gesamtpresi</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="paginator-container">
    <mat-paginator></mat-paginator>
  </div>
</div>
