
.form-container {
  min-width: 450px;
  max-width: 450px;
  margin: 0 auto;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

button {
  margin-right: 10px;
  color: #d41919;
}

.submit-button{
  background-color: whitesmoke;
}

// Für WKN Error hinzugefügt
.server-error{
  color: #d41919;
}
