<div class="infos">
  <div class="linke-info">
    <div class="linke-bezeichnung">
      <p>WKN:</p>
      <p>Name:</p>
      <p>Kategorie:</p>
    </div>
    <div class="linke-werte">
      <p *ngIf="generalInfos"><b>{{ generalInfoTest.wkn }}</b></p>
      <p *ngIf="generalInfos"><b>{{ generalInfoTest.name }}</b></p>
      <p *ngIf="generalInfos"><b>{{ generalInfoTest.category }}</b></p>
    </div>
  </div>
  <div class="rechte-info">
    <div class="rechte-bezeichnung">
      <p>Gesamtzahl:</p>
      <p>Beschreibung:</p>
    </div>
    <div class="rechte-werte">
      <p *ngIf="generalInfos"><b>{{ generalInfoTest.quantity }}</b></p>
      <p *ngIf="generalInfos"><b>{{ generalInfoTest.description }}</b></p>
    </div>
  </div>
  <div class="info-unten">
    <p>
      Kaufpreis Durchschnitt: {{ generalInfoTest.averagePrice?.toFixed(2) }} €
      <br>
      Aktueller Kurs: {{ generalInfoTest.price }} €
      <br>
      Gewinn / Verlust pro Aktie: {{ (generalInfoTest.price - generalInfoTest.averagePrice).toFixed(2) }} €
      <br>
      Gewinn / Verlust Gesamt: {{ (generalInfoTest.price * generalInfoTest.quantity) - (generalInfoTest.averagePrice * generalInfoTest.quantity) }} €
    </p>
  </div>
</div>

<div class="container">
  <div class="table-container">
    <table mat-table [dataSource]="items" class="table" matSort matSortActive="created"
           matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">

      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{ row.purchaseDate }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Anzahl</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell *matHeaderCellDef>Preis</th>
        <td mat-cell *matCellDef="let row">{{ row.purchasePrice }} €</td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Gesamtpreis</th>
        <td mat-cell *matCellDef="let row">{{ row.totalPrice }} €</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="paginator-container">
    <mat-paginator></mat-paginator>
  </div>
</div>
