<!-- form-field.component.html -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Wkn</mat-label>
    <input [ngClass]="{'error-input': hasError('wkn') || postError}" matInput formControlName="wkn" required>
    <div *ngIf="postError" class="server-error">WKN existiert bereits!</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <input matInput formControlName="description" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <input matInput formControlName="category" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Anzahl</mat-label>
    <input type="number" matInput formControlName="quantity" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Preis (€)</mat-label>
    <input type="number" matInput formControlName="price" required>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="myForm.invalid" [ngClass]="{'submit-button' : myForm.valid}">
    Submit
  </button>
</form>
