<div *ngIf="!showCompanyInfo" class="form-container">
  <form class="check isin" [formGroup]="myForm" (ngSubmit)="checkIsin()">
    <mat-form-field>
      <mat-label>ISIN</mat-label>
      <input [ngClass]="{'error-message': isinError} || {'error-message': wknDuplicate}" matInput formControlName="isin">
    </mat-form-field>
    <div *ngIf="isinError" class="isin-error"><b>ISIN nicht gefunden!</b></div>
    <div *ngIf="wknDuplicate" class="isin-error"><b>ISIN/WKN existiert bereits!</b></div>
    <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Check ISIN</button>
  </form>
</div>

<div *ngIf="showCompanyInfo" class="form-container">
  <form class="check-company" [formGroup]="mySecondForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>ISIN/WKN</mat-label>
      <input matInput formControlName="wkn">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <textarea matInput formControlName="name"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategorie</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preis</mat-label>
      <input matInput formControlName="price">
      <span matTextPrefix class="prefix" aria-disabled="true">€&nbsp;</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input type="number" matInput formControlName="quantity">
    </mat-form-field>

    <mat-form-field class="total">
      <mat-label>Gesamtpreis</mat-label>
      <input type="number" matInput [value]="calculateTotal()" disabled>
      <span matTextPrefix class="prefix" aria-disabled="true">€&nbsp;</span>
    </mat-form-field>

    <button mat-raised-button type="submit" color="accent" [disabled]="mySecondForm.invalid">Submit</button>
  </form>
</div>
