<!-- Titel des Dialogs -->
<h2 mat-dialog-title>My Dialog</h2>
<mat-dialog-content>      <!-- Dialoginhaltmit Eingabefeldern-->
  <form>
    <mat-form-field>
      <input matInput formControlName="wkn" placeholder="WKN" />
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="price" placeholder="Price" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="totalPrice" placeholder="Gesampreis" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="averagePrice" placeholder="Durchschnittspreis" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="quantity" placeholder="Gesamtanzahl" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="category" placeholder="Kategorie" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Beschreibung" />
    </mat-form-field>


    <button mat-raised-button color="primary">Submit</button>   <!-- Submit-Button -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="'close'">Close</button>    <!-- Schließen-Button -->
</mat-dialog-actions>
