/* Adjustments to styles */

.form-container {
  min-width: 450px;
  max-width: 450px;
  margin: 0 auto;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

mat-form-field {
  width: 100%;
  box-sizing: border-box;
  white-space: break-spaces;
  word-wrap: normal;
}

.isin-error {
  color: #d92121;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

textarea{
  resize: none;
  height: auto;
}
